* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30336b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #ff9800;
  margin-bottom: 20px;
}

#temp {
  font-size: 68px;
  margin-left: 10px;
  color: #f44336;
  animation: pulse 1s ease-in-out infinite;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .fa-thermometer-empty:before {
  content: "\f2cb";
} */

.temp-hot {
  color: #ff9800;
}

.temp-cold {
  color: #2196f3;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



